<h1>Exercise</h1>

<form action="/exercise/userExercise" method="GET">
  <input type="hidden" name="id" value="<%= exercise._id %>">

  <div>
    <label>Exercise Type</label>
    <select name="exerciseType" class="form-control">
      <option value="Swim" <%= exercise.name === 'Swimming' ? 'selected' : '' %>>Swimming</option>
      <option value="Running" <%= exercise.name === 'Running' ? 'selected' : '' %>>Running</option>
      <option value="Biking" <%= exercise.name === 'Biking' ? 'selected' : '' %>>Biking</option>
    </select>
  </div>
  <br>

  <div>
    <label>Distance travelled</label>
    <input type="text" name="distanceTravelled" class="form-control" value="<%= exercise.distanceTravelled %>">
  </div>
  <br>

  <div>
    <label>Personal Difficulty of Exercise</label>
    <select name="difficulty" class="form-control">
      <option value="Easy" <%= exercise.difficulty_level === 'Easy' ? 'selected' : '' %>>Easy</option>
      <option value="Intermediate" <%= exercise.difficulty_level === 'Intermediate' ? 'selected' : '' %>>Intermediate</option>
      <option value="Difficult" <%= exercise.difficulty_level === 'Difficult' ? 'selected' : '' %>>Difficult</option>
    </select>
  </div>
  <br>

  <div>
    <label>Duration (minutes)</label>
    <input type="number" name="duration" class="form-control" value="<%= exercise.duration %>">
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Update Exercise</button>
</form>
