<h1>All Training Plans</h1>

<table class="table table-striped font">
  <thead>
    <th  colspan="3"><h3>   <label class="mr-2">Filter by User:</label> 
      <select name="userId" id="userFilter" class="form-control mr-2">
        <option value="all" <%= selectedUser === 'all' ? 'selected' : '' %>>All Users</option>
        <% users.forEach(user => { %>
          <option value="<%= user._id %>" <%= selectedUser === user._id.toString() ? 'selected' : '' %>><%= user.name %></option>
        <% }) %>
      </select>
    </h3>
      
    </th>
      <tr>
          <th>Title</th>
          <th>User</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <% plans.forEach(plan => { %>
          <tr>
              <td>
                <a href="/admin/trainingPlans/detail/<%= plan._id %>" > <strong><%= plan.title %></strong></a>
              </td>
              <td><%= plan.user.name %></td>
              <td>

            
                  <a href="/admin/trainingPlans/edit/<%= plan._id %>" ><i class="fas fa-edit edit" class="ml-5"></i></a>
                  <form action="/admin/trainingPlans/delete/<%= plan._id %>" method="POST" style="display:inline;">
                      <button type="submit" style="color: red; border: none;"><i class="fa-solid fa-trash color"></i></button>
                  </form>
              </td>
          </tr>
      <% }) %>
  </tbody>
</table>