<h1>Edit Exercise</h1>

<form action="/exercise/update" method="post">
  <input type="hidden" name="id" value="<%= exercise._id %>">

  <div>
    <label>Name</label>
    <select name="name" class="form-control">
      <option value="Swim" <%= exercise.name === 'Swim' ? 'selected' : '' %>>Swim</option>
      <option value="Running" <%= exercise.name === 'Running' ? 'selected' : '' %>>Running</option>
      <option value="Biking" <%= exercise.name === 'Biking' ? 'selected' : '' %>>Biking</option>
    </select>
  </div>
  <br>

  <div>
    <label>Description</label>
    <input type="text" name="description" class="form-control" value="<%= exercise.description %>">
  </div>
  <br>

  <div>
    <label>Difficulty Level</label>
    <select name="difficulty_level" class="form-control">
      <option value="Easy" <%= exercise.difficulty_level === 'Easy' ? 'selected' : '' %>>Easy</option>
      <option value="Intermediate" <%= exercise.difficulty_level === 'Intermediate' ? 'selected' : '' %>>Intermediate</option>
      <option value="Difficult" <%= exercise.difficulty_level === 'Difficult' ? 'selected' : '' %>>Difficult</option>
    </select>
  </div>
  <br>

  <div>
    <label>Duration (minutes)</label>
    <input type="number" name="duration" class="form-control" value="<%= exercise.duration %>">
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Update Exercise</button>
</form>
