<h1> Event Details</h1>

  <br>
  <div class="row d-flex justify-content-center">
    
    <img src="/uploads/<%=event.image%>" alt="Event Image" class="img-fluid  mb-3 " style=" width: 400px; height: 200px; object-fit: cover;" >

  </div>

  <div class="row">
    <div class="col">
      <div>
        <label>Event Title</label>
        <input type="text" name="event_name" class="form-control"  value="<%= event.event_name %>"disabled>
      </div>
    </div>
    <div class="col">
      <div>
        <label>location</label>
        <input type="text" name="location" class="form-control" value="<%= event.location %>" disabled>
      </div>
    </div>

  </div>

<br>
  <div class="row">
    <div class="col">
      <div>
        <label>Description</label>
        <input type="text" name="description" class="form-control" value="<%= event.description %>" disabled>
      </div>
    </div>
    <div class="col">
      <div>
        <label>Max participants</label>
        <input type="number" name="max_participants" class="form-control" value="<%= event.max_participants %>" disabled>
      </div>
    </div>
  </div>

  <br>
  <div>
    <div class="row">
      <div class="col">    
        <label>Event Date</label>

        <input type="date" name="event_date" class="form-control" value="<%=  new Date(event.event_date).toISOString().split('T')[0]%>" disabled>
      </div>
      <div class="col">    
        <label>Event Time</label>

      <input type="text" name="time" class="form-control" value="<%= event.time %>" disabled>
      </div>
      <div class="col">
        <% const TotalJoindUsers = event.user.length; %>
        <% let full = false; %>
        <% const max_participants = event.max_participants; %>


        <% if( TotalJoindUsers === max_participants  ){%>
          <%  full = true; %>
        <% }%>
        
        <div>
          <label>Is full</label>
          <input type="text" name="isFull" class="form-control" value="<%= full %>" disabled>
        </div>
      
      </div>

    </div>
  </div>  <br>



<table class="table table-striped font mt-4">
  <tr>
    <h1>
      <th colspan="5" class="text-center"> Participants users</th>

    </h1>
  </tr>
  <tr>
    <th>#</th>
    <th> Name</th>
    <th> Email</th>
    <th> Gender</th>
    <th> Age</th>

  </tr>

  <% event.user.forEach(function(user ,i){ %>
    <tr>
      <td>  <%= i +1 %></td>
    <td>  <%=  user.name  %></td>
    <td>  <%=  user.email  %></td>
    <td>  <%=  user.gender  %></td>
    <td>  <%=  user.age  %></td>

  </tr>

  <% }) %>
</table>