<h1 class="m-3"> Events</h1>

<div class="container"></div>
    <div class="row">
        <% event.forEach(function(event) { %>
        
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/uploads/<%=event.image%>" alt="Event Image" class="card-img-top img-fluid" style="background-color: #eeeeee; height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <% const TotalJoindUsers = event.user.length; %>

                        <% if( TotalJoindUsers == event.max_participants ){%>
                            <div> <h6 class="text-danger">Event is Full</h6></div>
                        <% }%>
        
                        <h5 class="card-title text-center mb-4"> <%= event.event_name %> </h5> 
                        <h6> Event Location: <%= event.location %></h6>
                         <div class="d-flex justify-content-between mt-3"> 
                            <h6> Date: <%= new Date(event.event_date).toISOString().split('T')[0] %></h6>
                            <h6> Time: <%= event.time %>    </h6>
                        </div>
                        <!-- "user.event" get all Events_id in user collection  -->

                        <% const isParticipating = user.event.includes(event._id.toString()); %>

                            <div class="text-center mt-5">
                                <% if (TotalJoindUsers != event.max_participants) { %>
                                    <!-- If there is space for more participants -->
                                    <% if (isParticipating) { %>  <!-- If user is orady join then it can do UnJoin  -->
                                      <a href="userUNJoinEvent?id=<%= event._id %>" class="btn btn-primary">UnJoin</a>
                                    <% } 
                                    else { %> <!-- If it is not join then it can do Join  -->
                                      <a href="userJoinEvent?id=<%= event._id %>" class="btn btn-primary">Join</a>
                                    <% } %>

                                    <% } 
                                else { %>
                                    <!-- If the event is full -->    
                                        <% if (isParticipating) { %>
                                        <a href="userUNJoinEvent?id=<%= event._id %>" class="btn btn-primary">UnJoin</a>
                                        <% } %>
                                  <% } %>
                                
                                <a href="event/detailEvent?id=<%= event._id %>" class="btn btn-secondary ms-2">More Information</a>

                    </div>    
                </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>




